<nav class="navbar">

    <ul class="menu">
      <li class="menuName"><a class="menuLink" href="/">Home</a></li>
      <li class="menuName"><a class="menuLink" href="#">Profile</a></li>
      <li class="menuName"><a class="menuLink" href="#">About</a></li>
      <li class="menuName"><a class="menuLink" href="#">Contacts</a></li>
    </ul>
  </nav>