<!DOCTYPE html>
<head>
  <title>Reset Password</title>
  <link rel="stylesheet" href="/static/css/main.css" type="text/css" />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
    crossorigin="anonymous"
  />
</head>
<body>
<div class="resetFormContainer">
<form action="/resetForm" method="post">

<input type="password" name="password" id="" class="resetInput" placeholder="Ange ditt nya lösenord">
<input type="email" name="email" value="<%=email%>" hidden>

<button type="submit" class="resetBtn">Reset password</button>

</form>

</div>

</body>
