<div class="sortLinks">
  <a href="/todo/?page=<%=(dataToShow/taskPerReq)%>&&sorted=1" class="sort"
    >Sort by date <i class="fas fa-arrow-alt-circle-down"></i
  ></a>
  <a href="/todo/?page=<%=(dataToShow/taskPerReq)%>&&sorted=-1" class="sort"
    >Sort by date <i class="fas fa-arrow-alt-circle-up"></i
  ></a>
</div>
